@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    background-color: #10264e;
    font-family: 'Share Tech Mono', monospace;
    color: #86ffef;
}

header{
    position: fixed;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3vw;
    padding-right: 15px;
    background-color: #183569;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #abd3f1;
    box-shadow: 5px 0 15px 5px rgba(0, 0, 0, 0.700);
    transition: 0.5s;
    top: 0px;
}

.header-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.5vw;
    font-size: 19px;
}

.header-links p{
    border-bottom: 0px solid #519c8c;
    transition: ease-in-out 0.1s;
}

.header-links p:hover{
    border-bottom: 4px solid #76e9d091;
    
}

.social-links{
    display: flex;
    gap: 10px;
}

.social-links img{
    height: 30px;
    padding-top: 4px;
}

p span{
    color: rgb(182, 182, 182);
}

h1 span{
    color: rgb(182, 182, 182);
}

section{
    width: 100%;
    max-width: 1250px;
    margin: 85px auto 80px;
    padding: 0 25px;
}

section footer{
    border-bottom: 2px solid #a1a1a1d0;
}

section h1{
    font-size: 35px;
    font-weight: 400;
}

section h1 span{
    font-weight: 10;
    font-size: 25px;
}

.content{
    display: flex;
    justify-content: space-between;
    padding: 40px 20px 0;
    font-size: 18px;
    color: #e6e6e6d0;
}

.window{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    min-height: 150px;
    width: 40%;
}

#window1{
    align-self: flex-end;
    width: 68%;
}

#window2{
    justify-content: flex-start;
    width: 100%;
    height: 60%;
}

#tech-div{
    display: flex;
    justify-content: left;
    column-gap: 6vw;
    row-gap: 7.1svh;
    flex-wrap: wrap;
    height: 100%;
}

#tech-div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin: auto;
    width: 70px;
    font-size: 12px;
    background-color: #00123371;
    padding: 5px;
    transition: 0.5s;
}

#tech-div div:hover{
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.550);
}

.window-body img{
    width: 100%;
    padding-top: 3px;
}

.destaque{
    color: #86ffef;
    font-style: italic;
    text-decoration: underline;
}

.texto{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    padding-right: 15px;
    gap: 10px;
    width: 100%;
}

#tech-desc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: auto;
    padding: 10px;
}

#tech-desc p{
    padding: 25px 15px;
    background-color: #00123371;
    font-size: 15px;
}

#tech-desc img{
    height: 14vw;
    width: auto;
}

#tech-desc input{
    position: absolute;
    width: 20px;
    font-size: 13px;
    border-radius: 0;
    align-self: flex-end;
}

#lista-projeto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 40px 20px 0;
    font-size: 18px;
    color: #e6e6e6d0;
}

.projeto{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background-color: #c6c6c696;
    height: 175px;
    width: 100%;
    border: 1px solid rgb(201, 201, 201);
}

.preview{
    width: 289px;
    height: 133px;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.300);
}

.info-projeto{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.nome-e-tecnologias{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 37px;
}

.info-projeto div a{
    font-size: 2rem;
    font-weight: 600;
    color: #102347a2;
    font-family: "Pixelated MS Sans Serif", Arial;
}

.info-projeto div a:hover{
    color: #296483;
    text-decoration: underline;
}

.info-projeto div img{
    height: 30px;
    width: 30px;
    margin: 0 0 0 2px;
    box-shadow: none;
}

.info-projeto p{
    font-size: 1rem;
    padding: 10px 15px;
    font-family: "Pixelated MS Sans Serif", Arial;
    background-color: #00123371;
    height: 100%;
    max-height: 86px;
    overflow-y: scroll;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.300);
}

#rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #081a3a;
    border-top: 1px solid #abd3f1;
    width: 100vw;
    height: 220px;
    max-width: unset;
    margin: unset;
    padding: 40px 300px 20px;
    font-family: Arial;
}

#rodape div{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

#rodape a{
    font-size: 15px;
    font-style: italic;
}